<?xml version="1.0" encoding="utf-8"?>

<launch>
  <arg name="simulation" default="false" />
  <!-- Give the robot description parameter a name -->
  <arg name="description_name"           default="anymal_description"/>
  <!-- Set robot description path -->
  <arg name="description_file"           default="$(find anymal_b_simple_description)/urdf/anymal.urdf.xacro"/>


  <!-- Run xacro script to generate ANYmal description -->
  <param name="$(arg description_name)" command="$(find xacro)/xacro $(arg description_file) simulation:=$(arg simulation)"/>

</launch>
